{% extends 'base.html' %}

{% block title %} Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <div id="login-form">
            <h3>Login</h3>

            <div >
                <p>
                    <form action="/" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" value="Submit">
                    </form>  
                </p>
            </div>
        </div>
        
{% endblock %}