<!<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/main.css">
   
</head>

<body>
    <div class="grid-container">
        <div class="header">

            <h1>Welcome To My Website</h1>
            <div style="align-items: flex-end;">
                <a class="navbar-brand " href="https://github.com/matchyman ">
                    <img src="/pictures/GitHub-Mark-Light-32px.png " alt="github ">
                </a>
                <a class="navbar-brand " href="https://twitter.com/matchyman1 ">
                    <img src="/pictures/twitter-32px.png " alt="twitter ">
                </a>
                <a class="navbar-brand " href="https://www.linkedin.com/in/james-matcham-4b7160194/ ">
                <img src="/pictures/linkedin-32px.png "" alt="linkedin">
                </a>
            </div>



        </div>





        <div class="main">
            <p>
                Welcome to my portfolio where you can peruse this website to look at my work :)
            </p>
        </div>

        <div class="left-side">

            <ul class="nav flex-column">
                <li class="nav-item">

                    <button type="button" class="btn btn-light" style="width: 7em;" onclick="redirectAbout()">About</button>
                </li>
                <li class="nav-item">

                    <button type="button " class="btn btn-light " style="width: 7em;" onclick="redirectContact()">Contact</button>
                </li>
            </ul>

        </div>
        <div class="right-side ">
            <!--Never used-->
        </div>
        <div class="footer ">
            <!--Maybe put links in here instead of left side-->
        </div>

    </div>




   
    <script src="/scripts/scripts.js"></script>
</body>

</html>