<!<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body style="background-color: #ece2d0ff;">
    <div class="container">
        <header class="top-section">
            <a class="navbar-brand" href="https://github.com/matchyman">
                <img src="/pictures/GitHub-Mark-32px.png" alt="github">
            </a>
            <a class="navbar-brand" href="https://twitter.com/matchyman1">
                <img src="/pictures/twitter-32px.png" alt="twitter">
            </a>
            <a class="navbar-brand" href="https://www.linkedin.com/in/james-matcham-4b7160194/">
                <img src="/pictures/linkedin-32px.png"" alt="linkedin">
            </a>
        </header>
        <div class="side-nav">
            <a href="/" class="navigation">Home</a> <br>
            <a href="/about" class="navigation">About</a> <br>
            <a href=" /contact " class="navigation ">Contact</a><br>

        </div>
        <div class="content">
            <table class="project-table">
                <thead>
                    <th> Project Name </th>
                    <th> Project Description </th>
                    <th> Project Languages </th>
                </thead>
                <tbody>
                    <td>TeaBot</td>
                    <td>Something Something</td>
                    <td> JavaScript</td>
                </tbody>
            </table>
        </div>
        <footer class="bottom-section">
            Matchyman &copy; 2021
        </footer>

    </div>





    <script src="/scripts/scripts.js"></script>
</body>


</html>